{% extends 'header.html' %}
{% block content %}

<style>
    #submit-btn{
        background: royalblue;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 20px;
        padding: 5px 40px;
        text-align: center;
    }
    #submit-btn:hover{
        background: #000;
    }
</style>

<div class="management-buttons">
    <h3>مدیریت کارمندان</h3>
    <a href="{% url 'home' %}">
        <input id="create_new_employee" type="button" value="بازگشت" class="btn-untitle">   
    </a>
</div>

<br>

<div>
    <form method="POST", action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input id="submit-btn" type="submit" value="ثبت">
    </form>
</div>

{% endblock content %}